apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "cloudscale_token": "api-token-from-cloudscale-web-interface"
    }
